@font-face {
    font-family: 'pixel_digivolve';
    src: url('../fonts/pixel_digivolve/pixel_digivolve.otf') format('opentype');
}

body {
    height: 100vh;
    margin: 0;
    background-color: rgb(39, 38, 38);
    display: flex;
}

fieldset {
    border: none; 
}

button {
    width: 8rem;
    height: 3rem;
    margin-bottom: 1rem;
    font-family: 'pixel_digivolve';
    border-radius: .6rem;
    border: none;
}
 
button:hover {
    background-color: rgb(210, 210, 210);
}

h3 {
    margin: .5rem;
    font-family: 'pixel_digivolve';
}

input {
    width: 80%;
    height: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'pixel_digivolve';
    border-radius: .3rem;
}

.container {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(39, 38, 38);
    display: flex;
}

#__next {
    width: 100%;
    height: 100%;
    display: flex;
}

.rightContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    .mainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        height: 100%;

    }
}

.modalWindow {
    width: 60%;
    height: 60vh;
    z-index: 5;
    background-color: rgb(229, 178, 12);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
