@font-face {
    font-family: 'pixel_digivolve';
    src: url('../fonts/pixel_digivolve/pixel_digivolve.otf') format('opentype');
}

body {
    height: 100vh;
    margin: 0;
    background-color: rgb(39, 38, 38);
    display: flex;
}

fieldset {
    border: none; 
}

button {
    width: 8rem;
    height: 3rem;
    margin-bottom: 1rem;
}

h3 {
    margin: .5rem;
}

input {
    width: 80%;
    height: 1.5rem;
    margin-bottom: 1rem;
}

.container {
    height: 100vh;
    margin: 0;
    background-color: rgb(39, 38, 38);
    display: flex;
}

#__next {
    width: 100%
}

.rightContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    .mainContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        height: 100%;

    }
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.homeBackground {
    display: flex;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('http://localhost:8000/media/location/title.gif');
    background-size: cover;
    background-position: center;
    display:flex;
    z-index: 1;
}